<!-- CDNよりVueを取得 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.1"></script>

<script>  
  const router = new VueRouter({
    routes: [
      { 
        path: '/', 
        name: 'top',
        component: {
          template: `
            <div class="l-body">
              <h1 class="e-title">{{ message }}</h1>
              <input type="url" placeholder="URL" class="e-input_URL" v-model="target_url">
              <button type="submit" class="e-button_submit" @click="fetchSlideData">分析</button>
            </div>
          `,
          data() {
            return {
              message: "URLを入力し、分析ボタンを押してください" ,
              target_url:'https://docs.google.com/presentation/d/1GoGy99hh8eGO3JYqsI2wgdf19tsQ3wEVwTlBLkUYo1w/edit#slide=id.p',
              status: true
            }
          },
          methods: {
            fetchSlideData() {
              this.message = "分析中";

              if (!this.target_url) {
                this.message = "無効なURLが入力されています。";
                return;
              }

              google.script.run.withSuccessHandler(function(result_data){
                router.push({ name: "result",params:{data: result_data}})
              }).getData(this.target_url);
            }
          }
        }
      },
      { 
        path: '/about', 
        name: 'about',
        component: {
          template: `
            <div class="l-body">
              <h1 class="e-title">ABOUT ME</h1>
              <p class="e-text">制作者 : 林 大地</p>
              <p class="e-text">Git: <a :href=url>{{ branch }}</a></p>
              <img src="https://drive.google.com/uc?id=1E4mThphIzASKq-8Qifi0UazcD0JwHEpI" width=" 500" height="500" alt="いつも隣にITのお仕事ロゴ">
            </div>
          `,
          data() {
            return {
              branch: "hayashidaichinextgen/SlideAnalytics",
              url: "https://github.com/hayashidaichinextgen/SlideAnalytics"
            }
          }
        }
      },
      { 
        path: '/result', 
        name: 'result',
        component: {
          template: `
            <div class="l-body">
              <div v-if="!status">
                <h1 class="e-title_failed">FAILED</h1>
                <p class="e-text">{{ data.message }}</p>
              </div>
              <div v-else>
                <h1 class="e-title">RESULT</h1>
                <table class="l-datatable">
                  <tr>
                    <td class="l-datarecord_title">ファイル名:</td>
                    <td class="l-datarecord_data" >{{ data.presentation_title }}</td>
                  </tr>
                  <tr>
                    <td class="l-datarecord_title">有効スライド数:</td>
                    <td class="l-datarecord_data" >{{ data.active_pages }} スライド</td>
                  </tr>
                  <tr>
                    <td class="l-datarecord_title">有効文字数:</td>
                    <td class="l-datarecord_data" >{{ data.active_chars }} 文字</td>
                  </tr>
                </table>
                <button type="submit" class="e-button_submit" @click="isDetail=true" v-if="!isDetail">詳細</button>
                <div v-for="slide in data.slides" v-if="isDetail">
                  <img :src=slide.slide_img_url>
                  <table>
                    <tr>
                      <td class="l-datarecord_title">ページ</td>
                      <td class="l-datarecord_data" >{{ slide.page }} スライド</td>
                    </tr>
                    <tr>
                      <td class="l-datarecord_title">状態:</td>
                      <td class="l-datarecord_data" >{{ slide.type }} スライド</td>
                    </tr>
                    <tr>
                      <td class="l-datarecord_title">文字数:</td>
                      <td class="l-datarecord_data" >{{ slide.chars }} スライド</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          `,
          data() {
            return {
              status: false,
              isDetail: false,
              data: null
            }
          },
          created() {
            this.data = this.$route.params.data;
            console.log(this.data)
            this.status = this.data.status;
          }
        }
      } 
    ]
  });
  
  var app = new Vue({    
    el: '#app',
    router : router,
  });

</script>